body {
  font-family: Poppins, Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1728140842724-4c709923678c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: center;
}

form {
  background-color: rgba(199, 198, 251, 0.9);
  padding: 22px 26px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  max-width: 520px;
  width: 90%;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #007BFF;
  outline: none;
}

button[type=submit] {
  background: #007BFF;
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

button[type=submit]:hover {
  transform: translateY(-2px);
  background-color: #419af9;
}
